name: CI

on:
  push:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-18.04
    
    steps:
    - uses: actions/checkout@v1
    
    - name: Query Metadata Service
      run: curl -s -H Metadata:true "http://169.254.169.254/metadata/instance?api-version=2019-02-01" | jq -r '.'
      
    - name: List Services
      run: systemctl | grep running
      
    - name: Install GOSS
      run: curl -fsSL https://goss.rocks/install | GOSS_VER=v0.3.6 GOSS_DST=~ sh
      
    - name: Generate OS Test Report
      run: cd ~ && ./goss autoadd
      
    - name: GOSS Validate
      run: cd ~ && ./goss validate --format nagios
      
    - name: Update Docker to latest CE version 
      run: ./update_docker

    - name: Setup Plugin
      run: ./setup_plugin
    
    - name: Test Plugin 
      run: |
        docker help
        docker changelog |tee -a changelog.log 

    - uses: actions/upload-artifact@master
      with:
        name: "Docker Engine Changelog"
        path:  ./changelog.log 
